/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* custom style */
bar, bar-selector, bar-change-btn {
  margin-bottom: 20px;
}

bar .over-limit {
  background-color: #993300;
}

bar .percentageLayer {
  position: absolute;
  text-align: center;
  width: 100%;
}

bar-change-btn {
  margin: 5px 10px;
}
